@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
} */
::-webkit-scrollbar-thumb {
  background: #a3c4dd;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6daad7;
}
